body {
    background-color: #37383f;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}

@media screen and (orientation:portrait) {
    .card {
        width: auto;
        margin: 2vw 5%;
        padding: 5vw 4vw 3vw 4vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.6);
    }
    .card-title {
        font-size: 10vw;
    }
    .card-description {
        font-size: 4vw;
    }
    .socialicon {
        width: 5vw;
    }
    .card-socialbutton {
        padding: 2vw;
        border-radius: 2vw;
        margin-block: 2vw;
        margin-inline: 1vw;
    }
    .thumbnail-title {
        margin-inline: 1vw;
        margin-top: 2vw;
        font-size: 4vw;
    }
    .thumbnail {
        width: 100%;
        border-radius: 1vw;
    }
    .nested-card {
        border-radius: 1.5vw;
        padding: 1.5vw;
        margin: 0 1.5vw 0 1.5vw;
    }
    .footer {
        padding: 2vw 0 0 0;
        font-size: 2vw;
    }
    .button {
        transition: transform ease 0.3s, background-color ease 0.3s, box-shadow ease 0.3s;
        box-shadow: 0px 0px 2vw 0px rgba(0,0,0,0.6);
    }
    .button:hover {
        background-color: #27282b;
        box-shadow: 0px 0px 3vw 0.4vw rgba(0,0,0,0.6);
        cursor: pointer;
    }
    .fuzzy {
        display: none;
    }
}
@media screen and (orientation:landscape) {
    .card {
        width: max(50%, 300px);
        margin: 1.5vw auto;
        padding: 2vw 2vw 1vw 2vw;
        border-radius: 1vw;
        box-shadow: 0px 0px 0.75vw 0px rgba(0,0,0,0.6);
    }
    .card-title {
        font-size: 5vw;
    }
    .card-description {
        font-size: 2vw;
    }
    .socialicon {
        width: 2vw;
    }
    .card-socialbutton {
        padding: 1vw;
        border-radius: 1vw;
        margin-block: 1vw;
        margin-inline: 0.75vw;
    }
    .thumbnail-title {
        margin-inline: 0.5vw;
        margin-top: 1vw;
        font-size: 2vw;
    }
    .thumbnail {
        width: 80%;
        border-radius: 0.4vw;
    }
    .nested-card {
        border-radius: 1vw;
        padding: 1vw;
        margin: 0 1vw 0 1vw;
    }
    .footer {
        padding: 1vw 0 0 0;
        font-size: 0.75vw;
    }
    .button {
        transition: transform ease 0.3s, background-color ease 0.3s, box-shadow ease 0.3s;
        box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.6);
    }
    .button:hover {
        background-color: #27282b;
        box-shadow: 0px 0px 1.5vw 0.2vw rgba(0,0,0,0.6);
        cursor: pointer;
    }
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.card {
    position: relative;
    background-color: #2c2d33;
}

.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.card-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.link {
    color: white;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5a5c63;
}

.card-socialbutton {
    background-color: #232427;
    width: fit-content;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: 0;
}

.card-socialbutton:hover {
    transform: scale(1.1);
}

.card-thumbnailbutton:hover {
    transform: scale(1.03);
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nested-card {
    background-color: #232427;
    width: fit-content;
    text-align: center;
}

.thumbnail-title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.thumbnail {
    height: auto;
}

.card-center {
    text-align: center;
}

.card-left {
    text-align: left;
}

.card-right {
    text-align: right;
}

.fuzzy-container {
    position: relative;
    height: 100%;
}

.fuzzy {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15vw;
    height: 2.25vw;
    padding: 0;
    transition: height ease 0.4s;
    background-color: transparent;
    border: none;
}
.fuzzy:not(.bounce):hover {
    height: 11vw;
}
.fuzzy:hover {
    cursor: pointer;
}

.bounce-1 {
    transition: height ease-out 0.275s;
    height: 15vw;
}
.bounce-2 {
    transition: height ease-in 0.275s;
    height: 11vw;
}

.fuzzy-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 15vw;
    height: inherit;
    object-fit: cover;
    object-position: top;
}


@keyframes bounce-keyframes {
    0% {height: 10vw;}
    100% {height: 15vw;}
}